html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.nav-link {
    list-style: none;
    display: inline-block;
}
.nav-link a {
    text-decoration: none;
    padding: 16.5px 15px 16.5px 15px;
    font-weight: bold;
    color: white;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(238, 71, 71);
    height: 50px;
    width: 100%;
    box-shadow: 0px 1px 2px;
}
.nav-link :hover, .nav-link :focus {
    background: rgb(61, 69, 105);
    color: white;
}
#welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    width: 100%;
    height: 100vh;
    align-items: center;
    color: rgb(238, 71, 71);
    font-size: large;
    font-weight: 1;
}
#welcome-section h1 {
    color: white;
    margin-bottom: -10px;
}
#projects {
    margin-top: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    background: rgb(61, 69, 105);
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    padding: 2vw;
    grid-gap: 2vw;
}
.projects-header {
    text-align: center;
    color: white;
}
.project-tile {
    width: 30vw;
    height: auto;
    margin: 0;
    background: rgb(70, 70, 70);
}
.project-tile img {
    width: 30vw;
    height: auto;
    margin: 0;
}
.project-title {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 0;
    color: white;
}
.code {
    color: rgb(70, 70, 70);
    transition: color 0.3s ease-out;
}
.project-tile a {
    text-decoration: none;
}
.project-tile :hover .code {
    color: orangered;
}
.show-all {
    display: flex;
    justify-content: center;
    background: rgb(70, 70, 70);
    width: 90px;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
}
.show-all :hover {
    background: rgb(238, 71, 71);
}